{{#each results}}

<div class="row justify-content-center align-self-center mt-2 mb-2"></div>

<form action="/cart"></form>
  <div class="btn-group col-sm-5 ml-1"><h4>{{Product.name}}</h4></div>
  <div class="btn-group col-sm-1 ml-1"><h4>{{Product.price}} Ft</h4></div>
  <div class="btn-group col-sm-1 ml-1"><input type="text" name="FirstName" value="{{quantity}}" size="4"></div>
  <div class="btn-group col-sm-1 ml-1"><input type="submit" value="Change"></div>
</form>

</div>

{{/each}}