<div class="row my-auto bg-dark">
  <div class="btn-group-horizontal mx-auto">
    <a href="/admin/orders">
    <button type="submit" class="btn btn-outline-success">ORDERS ADMIN</button> </a>
    <a href="/admin/products">
    <button type="submit" class="btn btn-outline-success">PRODUCTS ADMIN</button></a>
    <a href="/admin/categories">
    <button type="submit" class="btn btn-outline-success">CATEGORY ADMIN</button></a>
    <a href="/admin/users">
    <button type="submit" class="btn btn-outline-success">USERS ADMIN</button></a>
  </div>

</div>
