<form method="POST" action="/products">
    <label for="userId">User ID</label>
    <input type="text" name="userId"/>
    <br>
    <label for="comment">Comment</label>
    <input type="text" name="comment"/>
    <br>
    <input type="submit" value="Submit"/>
</form>