<h1 align="center"> Keresési találatok </h1>

{{#each products}}

<div class="productlist">
    <div class="productphoto">
        <img id="productphoto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR80FK5gyEk__YsKwzzT4pVeZy2DeOXryuZ6_83KM4SkMdSG_SG"
        />
    </div>
    <div class="details px-3">
        <b><font size="5em">Termék: </b>{{name}}</font>
        <br>
        <b>Termékleírás: </b>{{description}}
    </div>
    <div class="price px-3"><b><font size="5em">{{price}} Ft</b></font></div>
</div>

{{/each}}


<!-- https://www.notebook-alkatresz.hu/images/nincs_kep.jpg 
nincs kep
nincs talalat
-->