
* { margin:0;padding:0;font-family: 'Quicksand', sans-serif} 

body {
    width:100; 
    height:100;
    background-color: lightgray;
}

#logo {
    width: 83px;
    height: 30px;
}

a {
    color: white;
}

a:hover{
    color: #00BF38;
    text-decoration: none;
}

.green {
    color: #00BF38;
}

.usersList {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.productlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    table-layout: fixed;
}

#productphoto{
    height: 100px;
    border: 1px solid black;
}

#productnophoto{
    height: 100px;
    border: 1px solid black;
}

.details {
    width: 50vw;
    word-wrap: break-word;
    border: 1px solid black;
    display: block;
}
.price {
    display: flex;
    border: 1px solid black;
    align-items: center;
}

.sidebar {
    float: left;
    width: 20vw;
    min-height: 100px;
    background-color: black;
    color: white;
    border: 2px solid gold;
}

.sidebar ul {
    position: relative;
    left: 20px;
}

.sidebar li {
    position: relative;
    left: 40px;
}