
* { margin:0;padding:0;font-family: 'Quicksand', sans-serif} 

body {
    width:100; 
    height:100;
    background-color: lightgray;
}

#logo {
    width: 83px;
    height: 30px;
}

a {
    color: white;
}

a:hover{
    color: #00BF38;
    text-decoration: none;
}

.green {
    color: #00BF38;
}

.usersList {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.productlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    table-layout: fixed;
}

#productphoto{
    height: 100px;
    border: 1px solid black;
}

#productnophoto{
    height: 100px;
    border: 1px solid black;
}

.details {
    width: 50vw;
    word-wrap: break-word;
    border: 1px solid black;
    display: block;
}
.price {
    display: flex;
    border: 1px solid black;
    align-items: center;
}
.card p {
    color: #212529;
}
.card {
    border-color: #212529;
    margin: 2% auto;
}
.comment {
    background-color: whitesmoke;
    padding-left: 30px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 90%;
}
#image {
    padding: 5%;
    padding-right: 20%;
    max-width: 500px;
    margin: 1% auto;

/* sidebar open icon */
.hamIcon {
    position: relative;
    top: 10px;
    left: -8px;
    padding: 15px;
    background-color: #383C42;
    color: #1FB24D;
    font-weight: bold;
    border: 2px solid #1FB24D;
    border-radius: 8px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #1FB24D;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 48px;
    font-weight: bold;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.dropdown li {
    position: relative;
    left: 30px;
}
