<div class="userauth col-sm-5 col-md-4 col-lg-4 col-xl-3 p-3 my-3 mx-auto bg-dark text-white row">
  <form method="POST" action="/users/{{user.id}}?_method=put" class="my-3 mx-auto">
    <div class="circle mx-auto bg-success">
      <i class="fas fa-cog fa-4x mt-3" aria-hidden="true"></i>
    </div>
    <h3 class="my-4">Edit</h3>

    <div>
      <a href="/users/{{user.id}}/editper">Personal data</a>
    </div>
    <div>
      <a href="/users/{{user.id}}/editloc">Location informations</a>
    </div>
     <div>
      <a href="/users/{{user.id}}/editpw">Change password</a>
    </div>
  </form>
</div>