<div class="userauth col-7 p-3 my-3 mx-auto bg-dark text-white row">
  <form method="POST" action="/users" class="my-3 mx-auto">
    <div class="row">
      <div class="mx-auto">
        <div class="circle bg-success">
          <i class="fas fa-user fa-4x mt-3" aria-hidden="true"></i>
        </div>
      </div>
      <div class="mx-auto">
        <div class="circle bg-success">
          <i class="fas fa-home fa-4x mt-3" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <h3 class="col-sm-6 my-3">Personal infos</h3>
      <h3 class="col-sm-6 my-3">Shipping Address</h3>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>Username<span style="font-size: 120%">*</span>:</label>
        <input name="username" required type="text" class="form-control" pattern="^\S{6,}$">
      </div>
      <div class="form-group col-sm-6">
        <label>Country:</label>
        <input class="form-control" name="country" type="text">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>First name:</label>
        <input name="firstName" type="text" class="form-control">
      </div>
      <div class="form-group col-sm-6">
        <label>County:</label>
        <input class="form-control" name="county" type="text">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>Last name:</label>
        <input name="lastName" type="text" class="form-control">
      </div>
      <div class="form-group col-sm-6">
        <label>City:</label>
        <input class="form-control" name="city" type="text">
      </div>

    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>Email addres<span style="font-size: 120%">*</span>:</label>
        <input name="email" required type="email" class="form-control" aria-describedby="emailHelp">
      </div>
      <div class="form-group col-sm-6">
        <label>ZIP:</label>
        <input class="form-control" name="zip" type="text">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>Password<span style="font-size: 120%">*</span>:</label>
        <input id="password" required class="form-control" name="encryptedPassword" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;"
          required>
      </div>
      <div class="form-group col-sm-6">
        <label>Street:</label>
        <input class="form-control" name="street" type="text">
      </div>

    </div>
    <div class="row">
      <div class="form-group  col-sm-6">
        <label>Confirm password<span style="font-size: 120%">*</span>:</label>
        <input id="password_two" required class="form-control" name="password_two" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
          required>
      </div>
      <div class="form-group  col-sm-6">
        <div class="row">
          <div class="form-group  col-sm-4">
            <label>Number:</label>
            <input type="text" class="form-control" name="houseNumber">
          </div>
          <div class="form-group  col-sm-4">
            <label>Floor:</label>
            <input type="text" class="form-control" name="floor">
          </div>
          <div class="form-group  col-sm-4">
            <label>Door:</label>
            <input type="text" class="form-control" name="door">
          </div>
        </div>
      </div>
    </div>
    <span>* : field has to be filled for registrate process</span><br>
    <button class="btn btn-success my-1 my-sm-3" type="submit" style="width: 200px">Register</button>
  </form>
</div>