<div class="d-flex justify-content-left flex-row flex-wrap align-items-center col-10 mx-auto my-4">
  <h1 class="mr-autocol-sm-12 col-lg-3 mx-2"><u>Categories</u></h1>
  <div class="row btn-group col-sm-12 col-lg-8 mx-2">
    <a href="/admin/categories/new" class="btn btn-success m-2">Add new category</a>
    <a href="/admin" class="btn btn-success m-2"> Go back to the admin mainpage</a>
  </div>
</div>

{{#each categories}}

<div class="row bordered justify-content-around align-self-center col-10 mx-auto my-2">

  <div class="btn-group col-sm-12 col-lg-6">
    <h4>{{name}}</h4>
  </div>

  <div class="btn-group col-sm-12 col-lg-3">
    <a href="/admin/categories/{{id}}">
      <button type="submit" class="btn btn-outline-success">Show</button>
    </a>

    <a href="/admin/categories/{{id}}/edit">
      <button type="submit" class="btn btn-outline-success mx-1">Edit</button>
    </a>

    <form method="POST" action="/admin/categories/{{id}}?_method=delete">
      <button type="submit" class="btn btn-outline-success">Delete</button>
    </form>
  </div>

</div>

{{/each}}