<h3 align="center" class="my-3"> New category </h3>

<div class="col-4 p-3 m-3 mx-auto bg-dark text-white">
    <form method="POST" action="/admin/categories">
        <div class="dropdown">
            <label>Categories:</label>
            <select class="ui dropdown" name="parentId">
                <option value="0">none</option>
                {{#each categories}}
                <option value={{id}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>New category name:</label>
            <input name="categoryName" type="text" class="form-control" id="exampleInputEmail1" placeholder="name">
        </div>

        <button class="btn btn-success my-2 my-sm-3" type="submit">Create new category</button>
    </form>
</div>