<div class="text-dark p-5">
    <h4><u>Category:</u><br/>{{category.name}}</h4>

{{#each products}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top p-4" src="/images/porszivo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{price}} Ft</p>
    <a href="/products/{{id}}">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Megtekintés</button>
    </a>
  </div>
</div>
 <hr style="width: 100%; color: black; height: 1px; background-color:black; padding:0; margin:0;"  />
{{/each}}
</div>
