<div class="col-3 p-3 m-3 mx-auto bg-dark text-white">
    <h4><u>Category:</u><br/>{{category.name}}</h4>

{{#each products}}


  <h4><u></u><br/>{{name}} {{price}} Ft</h4>
    
  <div class="btn-group col-sm-2">
    <a href="/products/{{id}}">
      <button type="submit" class="btn btn-outline-success">Show</button>
    </a>
  </div>

 <hr style="width: 100%; color: black; height: 1px; background-color:black; padding:0; margin:0;"  />

{{/each}}
</div>
