<div class="col-6 p-5 m-3 mx-auto bg-light text-success border-success bordered">
  <h1 class="font-weight-bold text-center"> <u> ERROR </u> </h1>
  <h1 class="font-weight-bold text-center"> The product cannot be deleted from the database, because it has got active connections! </h1>
</div>