<div class="col-3 p-3 m-3 mx-auto bg-dark text-white">
    <h4><u></u><br/>{{product.name}}</h4>
    <h4><u></u><br/>{{product.price}}</h4>
    <p><u></u><br/>{{product.description}}</p>
     <p><u></u><br/>{{comment.comment}}</p>
</div>