<form method="POST" action="/users/create">
  <label for="firstName">First name</label>
  <input type="text" name="firstName">

  <label for="lastName">Last name</label>
  <input type="text" name="lastName">

  <label for="email">Email</label>
  <input type="text" name="email">
  
  <button type="submit">Send</button>
</form>