<!DOCTYPE html>
<html>

<head>
  <title>Express</title>
  <meta charset="utf-8">
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <!-- Our Custom CSS -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script>

</head>

<body>
  <!-- Logo -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/users">LOGO HELYE</a>
    <ul class="navbar-nav ml-5">
      <!-- Category Sidebar -->
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="dropdown">
          {{{sidebar}}}
        </div>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- search -->
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0  ml-auto" action="/search/" method="GET">
        <div class="form-group col-12">
          <input class="form-control" id="searchfield" name="search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" id="searcbutton" type="submit">Search</button>
        </div>
      </form>

      <!-- log / reg -->

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          {{#if user}}
          <div class="column">
            <div class="usericons mr-3 mb-1" style="color: white">
              Hello, {{user.username}}!
              <a href="???">
                <!-- setting aloldal -->
                <i class="fa fa-cog mx-3" aria-hidden="true" title="Settings"></i>
              </a>
              <a href="???">
                <!-- cart oldal -->
                <i class="fa fa-shopping-cart mr-3" aria-hidden="true" title="Cart"></i>
              </a>
              <a href="/users/logout">
                <i class="fa fa-sign-out-alt mr-3" aria-hidden="true" title="Logout"></i>
              </a>
            </div>
          </div>
        </li>
        {{else}}
        <li class="nav-item active">
          <a class="nav-link" href="/users/login">Login
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/new">Registration
            <span class="sr-only">(current)</span>
          </a>
          {{/if}}
        </li>
      </ul>
    </div>
  </nav>
  <hr id="header-line" />
  <div class="container">

    <!-- Body -->
    {{{body}}}

  </div>
  <!-- Footer -->
  <footer class="page-footer font-small mdb-color pt-1 text-white bg-dark">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mt-1">
          <h6 class="text-uppercase mb-4 font-weight-bold green">Todoshop</h6>
          <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit.</p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-1">
          <h6 class="text-uppercase mb-4 font-weight-bold green">Let us help you</h6>
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Returns & Replacements</a>
          </p>
          <p>
            <a href="#!">Shipping Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-1">
          <h6 class="text-uppercase mb-4 font-weight-bold green">Contact</h6>
          <p>
            <span class="fa fa-home mr-3" aria-hidden="true"></span>17 Todo Street, Szeged, 6723
          </p>
          <p>
            <i class="fa fa-envelope-square mr-3" aria-hidden="true"></i>todotodosshop@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3" aria-hidden="true"></i>+ 36 30 234 567 88</p>
          <p>
            <i class="fab fa-skype mr-3" aria-hidden="true"></i>Todo.Shop18</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Footer links -->
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 text-center">
          <!--Copyright-->
          <p class="text-center text-md-left ml-4">
            <b>© 2018 CODEZILLAS</b>
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4">
          <!-- Social buttons -->
          <div class="text-center text-md-center">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-cc-visa fa-2x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-cc-mastercard fa-2x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-cc-amex fa-2x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-paypal fa-2x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-wallet fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </footer>

  <script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
      document.getElementById("mySidenav").style.width = "400px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>

</body>

</html>