<!DOCTYPE html>
<html>
<head>
  <title>Express</title>
</head>
<body>
    <h1>Szia Tasi</h1>
    <a href="/users/new">Create new record</a>
  {{{body}}}
  <footer>Copyright 2018</footer>
</body>
</html>
